@use "variables" as *;
@use "media-queries" as *;
@use "transitions" as *;

.navbar {
  margin-bottom: $spacing-xxl;

  & > :not(:last-child) {
    margin-bottom: $spacing-lg;
  }

  @mixin active {
    background-color: $slate-50;
    color: $slate-950;

    .icon {
      background-color: $slate-950;

      & > * {
        filter: invert(1);
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: $font-sm;
    flex-wrap: wrap;
    gap: $spacing-xs;

    @include media-query(large) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .listItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-sm $spacing-md;
      border-radius: $radius-sm;
      width: 100%;
      @include transition-properties;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $slate-50;
        padding: $spacing-sm;
        border-radius: $radius-sm;
        @include transition-properties;

        & > img {
          width: $font-sm;
          height: $font-sm;
          @include transition-properties;
        }
      }

      @include media-query(large) {
        width: max-content;
        &:hover {
          @include active;
        }
      }
    }

    .active {
      @include active;
    }
  }
}
