$bg-gray: rgb(19 19 21 / 1);
$bg-white: rgb(255 255 255 / 1);
$text-fade: rgb(138 138 147 / 1);
$orange: rgb(255 94 26 / 1);
$gray: rgb(68 64 60 / 1);
$text-primary: rgb(28 25 23 / 1);
$text-secondary: rgb(120 113 108 / 1);
$text-tertiary: rgb(168 162 158 / 1);
