@import "./colors";
@import "./breakpoints";

main {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  margin: 0.5rem 0;

  @media screen and (max-width: $lg) {
    grid-template-columns: 1fr;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 3rem;
    gap: 2rem;

    img {
      border-radius: 50%;
      overflow: hidden;
      flex: 0 0 auto;
      width: 108px;
      height: 108px;
      filter: grayscale(100%);
    }

    h1 {
      margin: 0;
      font-size: 64px;
      font-weight: inherit;
      line-height: 72px;
      letter-spacing: -0.03em;

      span {
        color: $text-fade;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 2.5rem 3rem;
    gap: 2rem;

    .resume {
      width: 112px;
      height: 112px;
      align-self: center;
    }

    h2 {
      margin: 0;
      font-size: 56px;
      font-weight: inherit;
      line-height: 64px;
      letter-spacing: -0.03em;
    }

    a {
      background-color: $orange;
      border-radius: 50px;
      padding: 1.5rem 2rem;
      font-size: 2rem;
    }
  }
}
