.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
