@import "./colors";
@import "./breakpoints";

.timeline-container {
  display: flex;
  justify-content: center;
  background-color: $bg-gray;
  border-radius: 1.5rem;
  padding: 2rem;
}

.timeline {
  width: 100%;

  @media (min-width: $md) {
    width: 58.333333%;
  }
}
