@use "reset";
@use "variables" as *;
@use "media-queries" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $slate-950;
  color: $slate-50;
  font-size: $font-md;
  line-height: $font-lg;
  letter-spacing: 0.05rem;
  min-height: 100vh;

  & > svg {
    pointer-events: none;
    mix-blend-mode: soft-light;
    isolation: isolate;
    position: fixed;
    z-index: 50;
    opacity: 0.7;
  }

  .container {
    max-width: map-get($breakpoints, medium);
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: $spacing-md;

    main {
      z-index: 10;
    }

    .gradient-wrapper {
      position: absolute;
      inset: 0;
      overflow: hidden;
      pointer-events: none;

      .gradient {
        background: url(../public/gradient.jpg);
        background-repeat: no-repeat;
        mask-image: linear-gradient(
          to bottom,
          $slate-950 50%,
          transparent 100%
        );
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }

    @include media-query(large) {
      padding: calc($spacing-xxl * 4) 0;
    }
  }
}
