@use "reset";
@use "variables" as *;
@use "media-queries" as *;

* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-size: $font-md;
  line-height: $spacing-lg;
  letter-spacing: 0.05rem;

  .container {
    max-width: map-get($breakpoints, xlarge);
    padding: $spacing-sm $spacing-xs;

    @include media-query(medium) {
      margin: $spacing-lg auto;
    }
  }
}
