@use "reset";
@use "variables" as *;
@use "media-queries" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color-dark;
  color: $background-color;
  font-size: $font-md;
  line-height: $font-lg;
  letter-spacing: 0.05rem;
  min-height: 100vh;

  & > svg {
    pointer-events: none;
    mix-blend-mode: soft-light;
    isolation: isolate;
    position: fixed;
    z-index: 50;
    opacity: 0.7;
  }

  .circle {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: -1;
    background-color: $text-fade;
    border-radius: $radius-xl;
    filter: blur(150px);

    &.one {
      left: 0;
      top: 0;
    }

    &.two {
      bottom: 0;
      right: 0;
    }
  }

  .container {
    max-width: map-get($breakpoints, medium);
    margin: 0 auto;
    padding: $spacing-sm;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-query(large) {
      padding: 12rem $spacing-sm;
    }
  }
}
