@use "variables" as *;
@use "media-queries.scss" as *;

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: $spacing-sm;
  margin: $spacing-sm 0;

  @include media-query(medium) {
    grid-template-columns: 1fr 0.7fr;
  }

  &.sectionReversed {
    @include media-query(medium) {
      grid-template-columns: 0.7fr 1fr;
    }
  }
}
