@use "variables" as *;

.card {
  width: 100%;
  height: 100%;
  margin-bottom: $spacing-lg;

  .content {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: $font-xl;
      font-weight: bold;
      line-height: $spacing-xl;
      margin-bottom: $spacing-md;
      align-self: flex-start;
    }
  }
}
