@use "variables" as *;
@use "media-queries" as *;

.navbar {
  border: 1px solid $border-color;
  .list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-sm;
    flex-wrap: wrap;

    .listItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-md $spacing-xs;
      transition: background-color 0.3s ease-in-out;

      @include media-query(large) {
        &:hover {
          background-color: $background-color-hover;
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius-sm;
        margin-left: $spacing-sm;

        & > * {
          width: $font-sm;
          height: $font-sm;
        }
      }
    }
  }
}
