// color
$text-color: #000000;
$text-fade: #8a8a93;
$background-color: #ffffff;
$background-active-color: #efefef;
$border-color: #dcdcdc;

// spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// font size
$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.5rem;

// border radius
$radius: 2.5rem;
